@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-track {
    background-color: #313131;
}

::-webkit-scrollbar {
    width: 7px;
    background: #313131;
}

::-webkit-scrollbar-thumb {
    background: #a842ff;
    border-radius: 8px;
}

body {
    background-color: #0e0e0e;
    font-family: 'Gabarito', cursive;
    overflow-x: hidden;
}

.iheader {
    padding: 15px;
    /* position: fixed; */
    /* background-color: #080808; */
}

.ilogo {
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
}

.row {
    margin-left: 5rem;
    /* margin-right: 5rem; */
}

.introduce {
    /* animation: aparecer 3s; */
    margin-top: 4.5rem;
    font-size: 70px;
    color: #a842ff;
    max-width: 900px;
}

/* .descricao {
    animation: aparecer 3s;
    color: white;
    font-size: 30px;
    border-right: 4px solid;
    width: 28ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(25), blinking 0.5s infinite step-end alternate;
} */

.animate-btn {
    /* animation: aparecer 3s; */
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    margin-left: -60px;
    margin-bottom: 4rem;
    cursor: pointer;
}

.animatebt {
    color: #a842ff;
}

.animatebt:hover {
    color: #aa16ff;
}



.detail {
    margin-top: 20px;
    color: grey;
    font-size: 20px;
    width: 40%;
}

.detail span {
    color: #a842ff;
    font-size: 20px;
    margin-bottom: 30px;
}

.icontact {
    margin-top: 40px;
    margin-bottom: 7rem;
}

a.ibtn {
    text-decoration: none;
    background-color: #a842ff;
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    transition: padding 0.6s linear;
}

.ibtn:hover {
    padding: 15px 60px;
}

.icontainer {
    background-color: #080808;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;

}

.icontainer_c {
    background-color: #080808;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    position: absolute;
    justify-content: space-evenly;
}


.designed {
    font-size: 15px;
    text-decoration: none;
    color: #a842ff;
    padding-left: 7px;
    cursor: pointer;
}

.copyright {
    font-size: 15px;
    text-decoration: none;
    color: #a842ff;
    cursor: pointer;
}

.iconcopy {
    margin-right: 7px;
    margin-left: 7px;
    color: #a842ff;
}


.itemicon {
    margin-right: 2rem;
}



.sec3 {
    padding: 20px 20px;
    padding-left: -50px;
    margin-bottom: 6rem;
    /* margin-right: 6rem; */
/* position: absolute; */
display: flex;
justify-content: center;
}

.subtitle_skills {
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}


.perfil1 {
    display: flex;
    align-items: center;
}

/* .perfil{
    width: 600;
    height: 600;
} */

.sec2:hover {
    border: 2px solid #aa16ff;
}

.title_s {
    color: #a842ff;
    font-size: 30px;
}

.title_skills {
    color: #a842ff;
    font-size: 30px;
}

.subtitle_s {
    color: white;
    font-size: 45px;
}

.subtitle2_s {
    color: #a842ff;
    font-size: 30px;
}



/* @keyframes aparecer {
    0% {
        margin-top: 1rem;
    }

    100% {
        margin-top: 4.5rem;
    }
} */

.contactmain_s {
    margin-top: 2rem;
    margin-bottom: 30px;
}

.contact_s {
    border: 2px solid #313131;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
    color: #a842ff;
    transition: border 0.6s linear;
    /*função para transição do hover*/
    transition: border 0.5s linear;
    font-size: 35px;
}

.contact_s:hover {
    border: 2px solid #aa16ff;
    color: #aa16ff;
}

.contactmain_c {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 4rem;

}

.contact_c {
    border: 2px solid #313131;
    margin-right: 20px;
    border-radius: 5px;

    padding: 80px;
    color: #313131;
    transition: border 0.6s linear;
    /*função para transição do hover*/
    transition: color 0.5s linear;
    font-size: 40px;
}

.contact_c:hover {
    border: 2px solid #aa16ff;
    color: #aa16ff;
}
.sec4{
    background-color: #111111;
    width: 105%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 6rem;
}
.Projects{
    background-color: #131313;
    border: 1px solid #a842ff;
    border-radius: 8px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 20px 20px;
}
.title_projects{
color: #ffffff;
margin-left: 60px;
padding-left: 60px;
margin-bottom: 30px;
/* margin-top: 30px; */
}
.headerproject{
    /* background-color: #a842ff; */
    color: #a842ff;
}
.pproject{
    color: white;
}
.footerproject a{
    color: #a842ff;
}
/* RESPONSIVIDADE */

/* RESPONSIVIDADE APENAS PARA COMPUTADOR  */
@media screen {
    @media (min-width:950px) {
        .ilogo {
            margin-left: 4rem;
        }

        .imenu {
            display: none;
        }

        .menuright {
            display: flex;
            float: right;
            margin-top: 5px;
            /* margin-left: 19rem; */
            /* border: 2px solid red; */

        }

        .menuright a {
            text-decoration: none;
            color: white;
            margin-right: 5rem;
            padding: 4px 10px;
            position: relative;
            /* border: 2px solid grey; */
            /* transition: border 0.6s linear; */
        }

        .menuright a:hover {
            color: #6b6b6b;
        }

        .menuright a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: #a842ff;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        .menuright a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .descricao {
            /* animation: aparecer 3s; */
            color: white;
            font-size: 30px;
            border-right: 4px solid;
            width: 28ch;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(25), blinking 0.5s infinite step-end alternate;
        }

        @keyframes typing {
            from {
                width: 0;
            }
        }

        @keyframes blinking {
            50% {
                border-color: transparent;
            }
        }
        .description_s {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 20px;
            width: 60%;
            color: #636363;
        
        }
        
        .icone {
            display: grid;
            justify-content: center;
        }
        
        .skill_icon {
            display: grid;
            justify-content: center;
            text-decoration: none;
            font-size: 30px;
            background-color: #131313;
            border: 1px solid #a842ff;
            padding: 30px 80px;
            margin: 1rem 5rem;
            border-radius: 8px;
            transition: all .2s ease-in-out;
            color: #a842ff;
        }
        
        .skill_icon:hover {
            transform: scale(1.1);
        }

        .sec2 {

            border: 2px solid #313131;
            background-color: #131313;
            transition: border 0.6s linear;
            /*função para transição do hover*/
            border-radius: 5px;
            padding: 20px 20px;
            margin-left: 16rem;
            margin-right: 16rem;
            margin-bottom: 6rem;
            /* margin-right: 6rem; */
        
        }
        


    }

    /* RESPONSIVIDADE APENAS PARA CELULAR  */
    @media(max-width:950px) {
        .ilogo {
            margin-left: 0rem;
        }

        .menuright {
            display: none;
        }

        .imenu {
            display: flex;
            float: right;
            background: none;
            border: none;
            font-size: 30px;
            color: white;
            margin-top: 8px;
        }
        .introduce {
            margin-top: 3rem;
            font-size: 40px;
        }

        .detail {
            width: 85%;
        }

        .descricao {
            /* animation: aparecer 3s; */
            color: white;
            font-size: 30px;
            /* border-right: 4px solid; */
            /* width: 28ch; */
            /* white-space: nowrap; */
            overflow: hidden;
            /* animation: typing 2s steps(25), blinking 0.5s infinite step-end alternate; */
        }

        .contactmain_s {
            /* display: grid; */
            /* grid-template-columns: 80px 80px; */

        }

        .icone {
            display: grid;
            justify-content: center;
        }
        .description_s {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 20px;
            /* width: 60%; */
            color: #636363;
        
        }
        .skill_icon {
            display: grid;
            justify-content: center;
            text-decoration: none;
            font-size: 40px;
            background-color: #131313;
            border: 1px solid #a842ff;
            padding: 30px 80px;
            margin: 1rem 1rem ;
            border-radius: 8px;
            transition: all .2s ease-in-out;
            color: #a842ff;
        }

        .skill_icon:hover {
            transform: scale(1.1);
        }

        .contact_s {
            margin-bottom: 30px;
        }

        .sec2 {

            border: 2px solid #313131;
            background-color: #131313;
            transition: border 0.6s linear;
            /*função para transição do hover*/
            border-radius: 5px;
            padding: 20px 20px;
            /* margin-left: 16rem; */
            /* margin-right: 16rem; */
            margin-bottom: 6rem;
            margin-left: 2rem;
            margin-right: 2rem;

        }

    }
}